<%- include("./partials/header") -%> 

<h1> Weather Forecast </h1>

<div class="results-container">

          <div class= "card-container">
              <% let result = results[0]; %>
              <img class="imgResult" src= <%= result.imageURL %>> 
              <h1 class="tempResult"> <%= result.temperature %><span>&#8457;</span></h1> 
              <h3 class="cityResult"> <%= result.query + ", " + result.country %>  </h3>
              <p class="descriptionResult"> <%= result.weatherDescription %> </p>
              <p class="windSpeedResult"> <%= "Wind Speed: " + result.windSpeed + " mph" %> </p>
               
          </div>

          
            <a href="/"><button id="newSearchButton">Search New Location!</button></a>
      
</div>
           <footer> Created by Ipsha Menon 2022</footer>
          
          


