<%- include("./partials/header") -%> 

        <h1> Weather App </h1>

          <div class= "card-container">
              <% let result = results[0]; %>
            <h3> <%= result.query %>  </h3>
           <h1> <%= result.temperature %>  </h1> 
           <img src= <%= result.icon %> >
           <p> <%= result.weatherDescription %> </p>

          </div>

          <a href="/"><button id="newSearchButton">Search New Location!</button></a>
          



    <%- include("./partials/footer") -%> 